<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <a href="#!/">
                <h2>
                    <span>PropertyCross</span>
                </h2>
            </a>
            <span flex></span>
            <h2 ng-if="$ctrl.properties.total">
                <span>{{ $ctrl.properties.listings.length }} of {{ $ctrl.properties.total }}</span>
            </h2>
        </div>
    </md-toolbar>


    <div flex layout-padding style="height: 590px">
        <div layout="row" layout-sm="column" layout-align="space-around"  ng-if="$ctrl.pagination">
            <md-button class="md-fab md-mini md-primary"
                       ng-repeat="page in [
                   - 2,
                   - 1,
                     0,
                   + 1,
                   + 2
                  ]"
                       ng-disabled="!$ctrl.hasPage($ctrl.properties.page + page)"
                       ng-click="$ctrl.$location.path($ctrl.properties.getPageLink($ctrl.properties.page + page))">
            <span ng-if="$ctrl.hasPage($ctrl.properties.page + page)">
                {{ $ctrl.properties.page + page }}
            </span>
            </md-button>
        </div>

        <md-list flex ng-if="$ctrl.properties.listings.length > 0">
            <md-list-item class="md-1-line"
                          ng-click="$ctrl.$location.path(p.link)"
                          ng-repeat="p in $ctrl.properties.listings">
                <img ng-src="{{ p.property.thumb_url }}" class="md-avatar"/>
                <div class="md-list-item-text" layout="column">

                    <div>{{ p.property.price_formatted }}</div>
                    <div>{{ p.property.title | words:4 }}</div>
                </div>
            </md-list-item>
        </md-list>

        <div ng-if="$ctrl.properties.listings.length === 0">Result is empty...</div>
        <div layout="row" layout-sm="column" layout-align="space-around" ng-if="$ctrl.pagination">
            <md-button class="md-fab md-mini md-primary"
                       ng-repeat="page in [
                   - 2,
                   - 1,
                     0,
                   + 1,
                   + 2
                  ]"
                       ng-disabled="!$ctrl.hasPage($ctrl.properties.page + page)"
                       ng-click="$ctrl.$location.path($ctrl.properties.getPageLink($ctrl.properties.page + page))">
            <span ng-if="$ctrl.hasPage($ctrl.properties.page + page)">
                {{ $ctrl.properties.page + page }}
            </span>
            </md-button>
        </div>

    </div>

</div>

