<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <a href="#!/">
                <h2>
                    <span>PropertyCross</span>
                </h2>
            </a>
            <span flex></span>
            <md-button ng-if="$ctrl.property"
                       class="{{ $ctrl.favStorage.has($ctrl.property) ? 'md-fab md-mini' : 'md-icon-button' }} "
                       aria-label="Favorite" ng-click="$ctrl.onFavoriteProperty($ctrl.property)">
                <md-icon md-svg-icon="/images/fav.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div flex layout-padding style="height: 590px">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ $ctrl.property.price_formatted }}</span>
                    <span>{{ $ctrl.property.title }}</span>
                </md-card-title-text>
            </md-card-title>

            <img ng-src="{{ $ctrl.property.img_url }}" class="md-card-image">
            <md-card-content>
                <p>
                <div ng-if="$ctrl.property.bedroom_number">{{ $ctrl.property.bedroom_number }} bedrooms</div>
                <div ng-if="$ctrl.property.bathroom_number">{{ $ctrl.property.bathroom_number }} bathrooms</div>
                </p>
                <p>
                    {{ $ctrl.property.summary }}
                </p>
            </md-card-content>
        </md-card>
    </div>
</div>